<section class="about" id="about">
  <div class="container">
    <p class="about-subtitle">tradition and love</p>
    <h2 class="about-title">how it’s made?</h2>
    <div class="about-box">
      <picture class="about-img">
        <source
          srcset="./images/about/cow-des-1x-min.png 1x, ./images/about/cow-des-2x-min.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/about/cow-tab-1x-min.png 1x, ./images/about/cow-tab-2x-min.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about/cow-mob-1x-min.png 1x, ./images/about/cow-mob-2x-min.png 2x"
          media="(min-width: 480px)"
        />
        <img src="./images/about/cow-des-1x-min.png" alt="cow" width="516" />
      </picture>
      <div class="about-list">
        <h3 class="about-list-item">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </h3>
        <p class="about-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about-text-quote">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="about-btn" type="button" data-modal-more-open>
          <span class="about-btn-text">Read more</span>
          <svg class="about-icons" width="8" height="20">
            <use href="/images/icons.svg#icon-bracket"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
