<article class="advantage">
    <section class="section advantage-section">
        <div class="container advantage">
            <h2 hidden>ADVANTAGE</h2>
          <div class="advantage__list">
            <ul class="advantage__bloks">
              <li class="advantage__blok">
                <img  src="./images/have-its-made-icon1.png" alt="glas with milk" > 
                    <p class="advantage__number">721</p>
                    <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
              </li>
              <li class="advantage__blok">
                <img src="./images/have-its-made-icon2.png" alt="glas with apple" >
                    <p class="advantage__number">16KG</p>
                    <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
              </li>
              <li class="advantage__blok">
                <img src="./images/have-its-made-icon3.png" alt="takhikardia" >
                    <p class="advantage__number">84</p>
                    <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </article>