<section class="advantage" id="advantage-gallery">
  <h2 hidden>ADVANTAGE</h2>
  <div class="advantage-section">
    <div class="container advantage">
      <ul class="advantage__bloks list">
        <li class="advantage__blok">
          <div class="icon1"></div>
          <p class="advantage__number">721</p>
          <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__blok">
          <div class="icon2"></div>
          <p class="advantage__number">16KG</p>
          <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__blok">
          <div class="icon3"></div>
          <p class="advantage__number">84</p>
          <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
