<div id="contacts" class="food"></div>

<section class="contacts">
  <div class="container">
    <h2 hidden>Contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-item link">
        <p class="contacts-item__category">CAFE</p>
        <h3 class="contacts-item__title">Chicago</h3>
        <p class="contacts-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-timetable list">
          <li class="contacts-timetable__day link">Monday - Friday</li>
          <li class="contacts-timetable__time link">06:00 AM - 10:00 PM</li>
          <li class="contacts-timetable__day link">Saturday - Sunday</li>
          <li class="contacts-timetable__time link">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts-locations list">
          <li class="contacts-locations__item">
            <a class="link contacts-locations__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-locations__item">
            <a class="contacts-locations__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts-item link">
        <p class="contacts-item__category contacts-item__category-color">FOODTRUCK</p>
        <h3 class="contacts-item__title">Los Angeles</h3>
        <p class="contacts-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-timetable list">
          <li class="contacts-timetable__day link">Monday - Friday</li>
          <li class="contacts-timetable__time link">06:00 AM - 10:00 PM</li>
          <li class="contacts-timetable__day link">Saturday - Sunday</li>
          <li class="contacts-timetable__time link">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts-locations list">
          <li class="contacts-locations__item">
            <a class="contacts-locations__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-locations__item">
            <a class="contacts-locations__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-item link">
        <p class="contacts-item__category">CAFE</p>
        <h3 class="contacts-item__title">New York</h3>
        <p class="contacts-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <ul class="contacts-timetable list">
          <li class="contacts-timetable__day link">Monday - Friday</li>
          <li class="contacts-timetable__time link">06:00 AM - 10:00 PM</li>
          <li class="contacts-timetable__day link">Saturday - Sunday</li>
          <li class="contacts-timetable__time link">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts-locations list">
          <li class="contacts-locations__item">
            <a class="contacts-locations__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-locations__item">
            <a class="contacts-locations__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts-button">
      <a
        class="link main-button main-button--red"
        href="https://g.page/conechicago?share"
        target="_blank"
        rel="noopener noreferrer"
        >Our Locations
        <svg class="main-button__icon">
          <use href="./images/icons.svg#icon-bracket"></use>
        </svg>
      </a>
      <button class="contacts-set__main-button main-button" type="button" data-modal-franchise-open>
        Franchise
        <svg class="main-button__icon">
          <use href="./images/icons.svg#icon-bracket"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
