<div id="contacts" class="food"></div>
<section class="contacts">
    <div class="container">
        <h2 hidden>representation categories</h2>
        <div class="contacts-box">
            <div class="contacts-list">
                <button type="button" class="contacts-title">CAFE</button>
                <h3 class="title">New York</h3>
                <p class="title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list days">
                    <li class="contacts-day">Monday - Friday<br>
                        <time class="contacts-time" datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="contacts-day">Saturday - Sunday<br>
                        <time class="contacts-time" datetime="08:00 AM - 16:00 PM">06:00 AM - 10:00 PM</time>
                    </li>


                </ul>
                <ul class="list contacts-conect">
                    <li><a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li><a class="link contacts-link" href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                </ul>
            </div>
            <div class="contacts-list">
                <button type="button" class="contacts-title contacts-title1">FOODTRUCK</button>
                <h3 class="title">Los Angeles</h3>
                <p class="title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list days">
                    <li class="contacts-day">Monday - Friday<br>
                        <time class="contacts-time" datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="contacts-day">Saturday - Sunday<br>
                        <time class="contacts-time" datetime="08:00 AM - 16:00 PM">06:00 AM - 10:00 PM</time>
                    </li>


                </ul>
                <ul class="list contacts-conect">
                    <li><a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li><a class="link contacts-link" href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                </ul>
            </div>
            <div class="contacts-list">

                <button type="button" class="contacts-title">CAFE</button>
                <h3 class="title">Chicago</h3>
                <p class="title-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list days">
                    <li class="contacts-day">Monday - Friday<br>
                        <time class="contacts-time" datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="contacts-day">Saturday - Sunday<br>
                        <time class="contacts-time" datetime="08:00 AM - 16:00 PM">06:00 AM - 10:00 PM</time>
                    </li>


                </ul>
                <ul class="list contacts-conect">
                    <li><a class="link contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    <li><a class="link contacts-link" href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>