<section class="customer-reviews" id="about-us">
  <h2 class="visually-hidden">customer-reviews</h2>
  <div class="container">
    <ul class="customer-reviews__list list slider">
      <li class="customer-reviews__item customer-reviews__item--slider-1">
        <img class="customer-reviews__img" src="/images/customer-reviews-slider-1.png" alt="" />
        <div class="customer-reviews__box">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="wrapper list">
          <li class="wrapper__item wrapper__item--1"></li>
          <li class="wrapper__item wrapper__item--2"></li>
          <li class="wrapper__item wrapper__item--3"></li>
        </ul>
        <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
      </li>
      <li class="customer-reviews__item customer-reviews__item--slider-2">
        <img class="customer-reviews__img" src="/images/customer-reviews-slider-2.png" alt="" />
        <div class="customer-reviews__box">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="wrapper list">
          <li class="wrapper__item wrapper__item--1"></li>
          <li class="wrapper__item wrapper__item--2"></li>
          <li class="wrapper__item wrapper__item--3"></li>
        </ul>
        <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
      </li>
      <li class="customer-reviews__item customer-reviews__item--slider-3">
        <img class="customer-reviews__img" src="/images/customer-reviews-slider-3.png" alt="" />
        <div class="customer-reviews__box">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <ul class="wrapper list">
          <li class="wrapper__item wrapper__item--1"></li>
          <li class="wrapper__item wrapper__item--2"></li>
          <li class="wrapper__item wrapper__item--3"></li>
        </ul>
        <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
      </li>
    </ul>

    <!-- <div class="customer-reviews__slider">
      <ul class="slick-dots">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div> -->
  </div>
</section>
