<footer>
  <section class="footer">
    <div class="container footer-container">
      <div class="footer__pink-text">
        <div class="footer__text--light-pink">
          <p class="footer__text">homemade ice cream</p>
          <p class="footer__text footer__text--row">made</p>
        </div>
        <div class="footer__text--dark-pink">
          <p class="footer__text--dark">with</p>
          <p class="footer__text--dark footer__text--dark-row">passion</p>
        </div>
      </div>
      <div class="footer__media">
        <div class="footer__media-contacts">
          <ul class="list footer-list">
            <li class="footer-list__item">
              <a
                href="https://github.com/"
                target="_blank"
                rel="noreferrer nofolow"
                class="link footer-list__item--link"
              >
                <svg width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-list__item">
              <a
                href="https://web.telegram.org/k/"
                target="_blank"
                rel="noreferrer nofolow"
                class="link footer-list__item--link"
              >
                <svg width="20" height="20">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-list__item">
              <a
                href="https://uk-ua.facebook.com/"
                target="_blank"
                rel="noreferrer nofolow"
                class="link footer-list__item--link"
              >
                <svg width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <a href="tel:+610383766284" class="link footer__contact--tel"
          >Feel free to contact
          <span class="footer__contact--pink-tel">+61 (0) 383 766 284</span></a
        >
      </div>
    </div>
  </section>
  <div class="after-footer">
    <div class="container">
      <div class="after-footer__bottom">
        <p class="after-footer__bottom--copyright">© 2022 - IceCream.</p>
        <p class="after-footer__bottom--rights">All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
