<!-- <section class="gallery">
  <div class="container">
    <h3 class="visually-hidden">Gallery</h3>
    <picture class="gallery__image">
      <source
        srcset="/images/gallery-desk-1x.jpg 1x, /images/gallery-desk-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="/images/gallery-tab-1x.jpg 1x, /images/gallery-tab-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/images/gallery-mob-1x.jpg 1x, /images/gallery-mob-2x.jpg 2x"
        media="(min-width: 320px)"
      />
      <img class="gallery__img" src="/images/gallery-desk-1x.jpg" alt="gallery" />
    </picture>
  </div>
</section> -->

<section class="gallery">
  <h4 hidden>Gallery</h4>
  <div class="container">
    <div class="gallery__box">
      <ul class="gallery__list list">
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-1desk@1x-min.jpg 1x,
                ./images/gallery/gallery-1desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-1tab@1x-min.jpg 1x,
                ./images/gallery/gallery-1tab2x-min.jpg  2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-1mob@1x-min.jpg 1x,
                ./images/gallery/gallery-1mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-1mob@1x-min.jpg"
              src="./images/gallery/gallery-1mob@1x-min.jpg"
              alt="pistachio ice cream"
            />
          </picture>
        </li>
      </ul>

      <ul class="gallery__list list">
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-2desk@1x-min.jpg 1x,
                ./images/gallery/gallery-2desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-2tab@1x-min.jpg 1x,
                ./images/gallery/gallery-2tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-2mob@1x-min.jpg 1x,
                ./images/gallery/gallery-2mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-2mob@1x-min.jpg"
              src="./images/gallery/gallery-2mob@1x-min.jpg"
              alt="pink ice cream"
            />
          </picture>
        </li>
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-3desk@1x-min.jpg 1x,
                ./images/gallery/gallery-3desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-3tab@1x-min.jpg 1x,
                ./images/gallery/gallery-3tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-3mob@1x-min.jpg 1x,
                ./images/gallery/gallery-3mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-3mob@1x-min.jpg"
              src="./images/gallery/gallery-3mob@1x-min.jpg"
              alt="raspberry ice cream"
            />
          </picture>
        </li>
      </ul>

      <ul class="gallery__list list">
        <li class="gallery__item" data-aos="flip-right" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-4desk@1x-min.jpg 1x,
                ./images/gallery/gallery-4desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-4tab@1x-min.jpg 1x,
                ./images/gallery/gallery-4tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-4mob@1x-min.jpg 1x,
                ./images/gallery/gallery-4mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-4mob@1x-min.jpg"
              src="./images/gallery/gallery-4mob@1x-min.jpg"
              alt="ice cream cone"
            />
          </picture>
        </li>

        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-5desk@1x-min.jpg 1x,
                ./images/gallery/gallery-5desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-5tab@1x-min.jpg 1x,
                ./images/gallery/gallery-5tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-5mob@1x-min.jpg 1x,
                ./images/gallery/gallery-5mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-5mob@1x-min.jpg"
              src="./images/gallery/gallery-5mob@1x-min.jpg"
              alt="girl with ice cream"
            />
          </picture>
        </li>
      </ul>

      <ul class="gallery__list list list-down">
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-6desk@1x-min.jpg 1x,
                ./images/gallery/gallery-6desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-6tab@1x-min.jpg 1x,
                ./images/gallery/gallery-6tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-6mob@1x-min.jpg 1x,
                ./images/gallery/gallery-6mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-6mob@1x-min.jpg"
              src="./images/gallery/gallery-6mob@1x-min.jpg"
              alt="plate of ice cream"
            />
          </picture>
        </li>
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-7desk@1x-min.jpg 1x,
                ./images/gallery/gallery-7desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-7tab@1x-min.jpg 1x,
                ./images/gallery/gallery-7tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-7mob@1x-min.jpg 1x,
                ./images/gallery/gallery-7mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-7mob@1x-min.jpg"
              src="./images/gallery/gallery-7mob@1x-min.jpg"
              alt="hand with ice cream"
            />
          </picture>
        </li>
      </ul>

      <ul class="gallery__list list list-up">
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-8desk@1x-min.jpg 1x,
                ./images/gallery/gallery-8desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-8tab@1x-min.jpg 1x,
                ./images/gallery/gallery-8tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-8mob@1x-min.jpg 1x,
                ./images/gallery/gallery-8mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-8mob@1x-min.jpg"
              src="./images/gallery/gallery-8mob@1x-min.jpg"
              alt="dog with ice cream"
            />
          </picture>
        </li>

        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture" data-aos="flip-up" data-aos-once="true">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-9desk@1x-min.jpg 1x,
                ./images/gallery/gallery-9desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-9tab@1x-min.jpg 1x,
                ./images/gallery/gallery-9tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-9mob@1x-min.jpg 1x,
                ./images/gallery/gallery-9mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-9mob@1x-min.jpg"
              src="./images/gallery/gallery-9mob@1x-min.jpg"
              alt="milk shake"
            />
          </picture>
        </li>
      </ul>

      <ul class="gallery__list list">
        <li class="gallery__item" data-aos="flip-up" data-aos-once="true">
          <picture class="gallery__picture">
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-10desk@1x-min.jpg 1x,
                ./images/gallery/gallery-10desk@2x-min.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-10tab@1x-min.jpg 1x,
                ./images/gallery/gallery-10tab@2x-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              class="gallery__radius"
              srcset="
                ./images/gallery/gallery-10mob@1x-min.jpg 1x,
                ./images/gallery/gallery-10mob@2x-min.jpg 2x
              "
              media="(min-width:480px)"
            />
            <img
              class="gallery__radius"
              srcset="./images/gallery/gallery-10mob@1x-min.jpg"
              src="./images/gallery/gallery-10mob@1x-min.jpg"
              alt="donut with ice cream"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
