<section class="gallery">
  <div class="container">
    <h3 class="visually-hidden">Gallery</h3>
    <picture>
      <source
        srcset="/images/gallery-mob-1x.jpg, /images/gallery-mob-2x.jpg"
        media="(min-width: 1200px)"
      />
      <source
        srcset="/images/gallery-tab-1x.jpg, /images/gallery-tab-2x.jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="/images/gallery-desk-1x.jpg, /images/gallery-desk-2x.jpg"
        media="(min-width: 320px)"
      />
      <img src="/images/gallery-desk-1x.jpg" alt="" />
    </picture>
  </div>
</section>
