<header class="header">
  <div class="container">
    <div class="header_container">
      <div class="wrap-nav">
        <a class="link logo" href="./index.html">
          <picture>
            <source srcset="./images/logo.png 1x, ./images/logo_2x.png 2x" />
            <img src="./images/logo.png" alt="company logo" />
          </picture>
        </a>

        <nav class="site-nav">
          <ul class="list site-nav__list">
            <li class="site-nav__item">
              <a class="link site-nav__link" href="">Home</a>
            </li>
            <li class="site-nav__item">
              <a class="link site-nav__link" href="">About us</a>
            </li>
            <li class="site-nav__item">
              <a class="link site-nav__link" href="">How it’s made?</a>
            </li>
            <li class="site-nav__item">
              <a class="link site-nav__link" href="">Our products</a>
            </li>
            <li class="site-nav__item">
              <a class="link site-nav__link" href="">Contact</a>
            </li>
          </ul>
        </nav>

        <button class="button menu-button" type="button">
          <svg class="" width="20" height="12">
            <use class="" href="./images/symbol-defs.svg#icon-burger"></use>
          </svg>
        </button>

        <button class="button button-buy" type="button">Buy now ></button>
      </div>

      <div class="wrap-title">
        <h1 class="hero-title">
          <span class="hero-title--small">ice cream made with</span>
          <span class="hero-title--big">passion</span>
        </h1>

        <ul class="list button-title">
          <li class="item">
            <button
              class="button button-secondary"
              onclick="location.href='#products'"
              type="button"
            >
              Products
            </button>
          </li>
          <li class="item">
            <button class="button button-primary" type="button">How it’s made?</button>
          </li>
        </ul>
      </div>

      <div class="wrap-company">
        <div class="company-abouts-1">
          <div class="company-abouts-1__circle"></div>
          <p class="company-abouts-1__num">16</p>
          <p class="company-abouts-1__text">cafes</p>
        </div>

        <div class="company-abouts-2">
          <div class="company-abouts-2__circle"></div>
          <p class="company-abouts-2__num">23</p>
          <p class="company-abouts-2__text">food trucks</p>
        </div>
      </div>

      <div class="wrap-text">
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <picture class="arrow">
          <source
            srcset="./images/arrow-right_t.png 1x, ./images/arrow-right_t_2x.png 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/arrow-right_d.png 1x, ./images/arrow-right_d_2x.png 2x"
            media="(min-width: 1280px)"
          />
          <img src="./images/arrow-right_d.png" alt="advertisement arrow" />
        </picture>
      </div>

      <!-- <picture class="ellipse">
        <source
          srcset="./images/ellipse_m.png 1x, ./images/ellipse_m@2x.png 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./images/ellipse.png 1x, ./images/ellipse@2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/ellipse_d.png 1x, ./images/ellipse_d@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/ellipse_m.png" alt="ice-cream picture" />
      </picture> -->

      <!-- <picture class="pic">
        <source
          srcset="./images/ice-cream-pic_m.png 1x, ./images/ice-cream-pic_m_2x.png 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./images/ice-cream-pic_t.png 1x, ./images/ice-cream-pic_t_2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/ice-cream-pic_d.png 1x, ./images/ice-cream-pic_d_2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/ice-cream-pic_d.png" alt="ice-cream picture" />
      </picture> -->

      <picture class="milk">
        <source
          srcset="./images/milk-pic_t.png 1x, ./images/milk-pic_t_2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/milk-pic_d.png 1x, ./images/milk-pic_d_2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/milk-pic_d.png" alt="ice-cream picture" />
      </picture>

      <picture class="girl">
        <source
          srcset="./images/girl-pic_t.png 1x, ./images/girl-pic_t_2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/girl-pic_d.png 1x, ./images/girl-pic_d_2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/girl-pic_d.png" alt="girl picture" />
      </picture>
    </div>
  </div>
</header>
