<header class="header" id="header">
  <div class="container">
    <div class="header-hero__container">
      <div class="wrap-nav">
        <a class="link logo" href="./index.html">
          <picture>
            <source srcset="./images/logo.png 1x, ./images/logo_2x.png 2x" />
            <img src="./images/logo.png" alt="company logo" />
          </picture>
        </a>

        <nav class="header-nav">
          <ul class="list header-nav__list">
            <li class="header-nav__item">
              <a class="link header-nav__link header-nav__link--current" href="./index.html"
                >Home</a
              >
            </li>
            <li class="header-nav__item">
              <a class="link header-nav__link" href="#about-us">About us</a>
            </li>
            <li class="header-nav__item">
              <a class="link header-nav__link" href="#about">How it’s made?</a>
            </li>
            <li class="header-nav__item">
              <a class="link header-nav__link" href="#products">Our products</a>
            </li>
            <li class="header-nav__item">
              <a class="link header-nav__link" href="#contacts">Contact</a>
            </li>
          </ul>
        </nav>

        <button class="button header-menu" aria-expanded="false" type="button" data-menu-open>
          <svg class="" width="20" height="12">
            <use class="" href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>

        <button
          class="button header-button animate__animated animate__heartBeat animate__slower"
          data-modal-open
          type="button"
        >
          Buy now >
        </button>
      </div>

      <div class="wrap-title">
        <h1 class="hero-title">
          <span class="hero-title--small">ice cream made with</span>
          <span class="hero-title--big">passion</span>
        </h1>

        <ul class="list button-title">
          <li class="button-title__item">
            <a class="link button-title--pink" href="#products">Products</a>
          </li>
          <li class="button-title__item">
            <a class="link button-title--white" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>

      <div class="wrap-company">
        <div class="company-abouts-1">
          <div class="company-abouts-1__circle"></div>
          <p class="company-abouts-1__num">16</p>
          <p class="company-abouts-1__text">cafes</p>
        </div>

        <div class="company-abouts-2">
          <div class="company-abouts-2__circle"></div>
          <p class="company-abouts-2__num">23</p>
          <p class="company-abouts-2__text">food trucks</p>
        </div>
      </div>

      <div class="wrap-text">
        <p class="hero-text">
          Our natural ice cream is based on the milk of Ukrainian cows. Do not miss the opportunity
          to enjoy its taste.
        </p>

        <a class="link button-arrow" href="#advantage-gallery">
          <svg class="icon-arrow">
            <use class="" href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </a>
      </div>

      <picture class="pic-ellipse">
        <source
          srcset="./images/ellipse_m.png 1x, ./images/ellipse_m@2x.png 2x"
          media="(max-width: 480px)"
        />
        <source
          srcset="./images/ellipse.png 1x, ./images/ellipse@2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/ellipse_d.png 1x, ./images/ellipse_d@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/ellipse_m.png" alt="ellipse" />
      </picture>

      <picture class="pic-ice-cream">
        <source
          srcset="./images/ice-cream-pic_m.png 1x, ./images/ice-cream-pic_m_2x.png 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./images/ice-cream-pic_t.png 1x, ./images/ice-cream-pic_t_2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/ice-cream-pic_d.png 1x, ./images/ice-cream-pic_d_2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/ice-cream-pic_d.png" alt="ice-cream picture" />
      </picture>

      <picture class="pic-milk animate__animated animate__flipInY">
        <source
          srcset="./images/milk-pic_t.png 1x, ./images/milk-pic_t_2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/milk-pic_d.png 1x, ./images/milk-pic_d_2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/milk-pic_d.png" alt="milk" />
      </picture>

      <picture class="pic-girl animate__animated animate__flipInY">
        <source
          srcset="./images/girl-pic_t.png 1x, ./images/girl-pic_t_2x.png 2x"
          media="(max-width: 1279px)"
        />
        <source
          srcset="./images/girl-pic_d.png 1x, ./images/girl-pic_d_2x.png 2x"
          media="(min-width: 1280px)"
        />
        <img src="./images/girl-pic_d.png" alt="girl" />
      </picture>
    </div>
  </div>
</header>
