
    <div class="mob-menu">
    <button type="button" class="menu-close">
    <svg class="menu-close-icon">
        <use href=""></use>

    </svg>
    
</button>
<button type="button"  class="menu-button "> 
Buy now
</button>
<ul class="list menu-list">
<li class="menu-list__item">
    <a class="link menu-list__link" href="#">
        Home

    </a>

</li>
<li class="menu-list__item">
    <a class="link menu-list__link" href="#">
        About us
    
    </a>

</li>
<li class="menu-list__item">
    <a class=" link menu-list__link" href="#">
        How it’s made?
    
    </a>

</li>
<li class="menu-list__item">
    <a class="link menu-list__link" href="#">
       Our products
    
    </a>

</li>
<li class="menu-list__item">
    <a class="link menu-list__link" href="#">
        Contact
    
    </a>

</li>
</ul>

</div>