<div class="mob-menu is-hidden" data-menu>
  <button type="button" class="menu-close" data-menu-close>
    <svg class="menu-close-icon">
      <use href="/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="mob-menu-button" data-modalMenu-open>
    Buy now
    <svg class="mob-button-icon">
      <use href="/images/icons.svg#icon-bracket"></use>
    </svg>
  </button>

  <ul class="list menu-list">
    <li class="menu-list__item">
      <a class="link menu-list__link curent" href="#header">Home</a>
    </li>
    <li class="menu-list__item">
      <a class="link menu-list__link" href="#about-us">About us</a>
    </li>
    <li class="menu-list__item">
      <a class="link menu-list__link" href="#about">How it’s made?</a>
    </li>
    <li class="menu-list__item">
      <a class="link menu-list__link" href="#products">Our products</a>
    </li>
    <li class="menu-list__item">
      <a class="link menu-list__link" href="#contacts">Contact</a>
    </li>
  </ul>
</div>
