<!-- Модальное окно хедер -->

<div class="backdrop is-hidden"data-modal>
  <div class="modal">
    <button class="modal-button"data-modal-close>
      <svg class="modal-button__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form js-speaker-form">
      <p class="modal-title">Please, fill the form to make an order</p>
      <div class="form-field">
        <label class="form-field__label" for="name">Full name</label>
        <input class="form-field__input" type="text" name="name" id="name" />
        <span class="form-field__icon icon-form">
          <svg width="12" height="12">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="tel">Telephone</label>
        <input class="form-field__input" type="tel" name="tel" id="tel" />
        <span class="form-field__icon">
          <svg width="13" height="13">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="mail">E-mail</label>
        <input class="form-field__input" type="email" name="mail" id="mail" />
        <span class="form-field__icon">
          <svg width="15" height="12">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="text">Your order</label>
        <textarea
          class="form-field__comment"
          name="text"
          id="text"
          placeholder="I would like..."
        ></textarea>
      </div>

      <div class="form-send">
        <button class="form-send__button" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>

<!-- Модальное окно Read more -->

<div class="backdrop is-hidden" data-modal-more>
  <div class="modal-more">
    <button class="modal-button" data-modal-more-close>
      <svg class="modal-button__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form js-speaker-form">
      <p class="modal-title modal-title-more">
        Lorem ipsum dolor sit amet.
      </p>
      <p class="modal-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Libero voluptas cumque voluptatum veritatis quae.
      </p>

      <img class="modal-image" src="./images/cows-read-more.jpg" alt="cows in the meadow" />

      <p class="modal-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ratione optio impedit fuga recusandae iste placeat dolor quibusdam perferendis vel officiis?
      </p>
    </form>
  </div>
</div>

<!-- Модальное окно франшизы -->

<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal modal-franchise">
    <button class="modal-button" data-modal-franchise-close>
      <svg class="modal-button__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form js-speaker-form">
      <p class="modal-title">Please leave your contacts, we will call you back</p>
      <div class="form-field">
        <label class="form-field__label" for="franchise-name">Full name</label>
        <input class="form-field__input" type="text" name="franchise-name" id="franchise-name" />
        <span class="form-field__icon icon-form">
          <svg width="12" height="12">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="franchise-tel">Telephone</label>
        <input class="form-field__input" type="tel" name="franchise-tel" id="franchise-tel" />
        <span class="form-field__icon">
          <svg width="13" height="13">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="franchise-mail">Mail</label>
        <input class="form-field__input" type="email" name="franchise-mail" id="franchise-mail" />
        <span class="form-field__icon">
          <svg width="15" height="12">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="franchise-text">Comments</label>
        <textarea
          class="form-field__comment comment-franchise"
          name="franchise-text"
          id="franchise-text"
          placeholder="Enter text..."
        ></textarea>
      </div>

      <div class="form-agreement">
        <label class="form-agreement__label">
          <input
            class="form-agreement__checkbox"
            type="checkbox"
            name="checkbox"
            value="checkbox"
          />
          <span class="form-agreement__wrapper-icon">
            <svg class="form-agreement__checkbox-icon" width="16" height="15">
              <use href="./images/icons.svg#icon-agreement"></use>
            </svg>
          </span>
          <span class="form-agreement__wrapper-icon--check">
            <svg class="form-agreement__icon-check" width="16" height="15">
              <use href="./images/icons.svg#icon-check"></use>
            </svg>
          </span>
          <span>Allow sending newsallow sending news</span>
        </label>
      </div>

      <div class="form-send">
        <button class="form-send__button" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>


<!-- Модальное окно меню телефон -->

<div class="backdrop is-hidden"data-modalMenu>
  <div class="modal">
    <button class="modal-button"data-modalMenu-close>
      <svg class="modal-button__close" width="11" height="11">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="modal-form js-speaker-form">
      <p class="modal-title">Please, fill the form to make an order</p>
      <div class="form-field">
        <label class="form-field__label" for="Menu-name">Full name</label>
        <input class="form-field__input" type="text" name="Menu-name" id="Menu-name" />
        <span class="form-field__icon icon-form">
          <svg width="12" height="12">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="Menu-tel">Telephone</label>
        <input class="form-field__input" type="tel" name="Menu-tel" id="Menu-tel" />
        <span class="form-field__icon">
          <svg width="13" height="13">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="Menu-mail">E-mail</label>
        <input class="form-field__input" type="email" name="Menu-mail" id="Menu-mail" />
        <span class="form-field__icon">
          <svg width="15" height="12">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </span>
      </div>
      <div class="form-field">
        <label class="form-field__label" for="Menu-text">Your order</label>
        <textarea
          class="form-field__comment"
          name="Menu-text"
          id="Menu-text"
          placeholder="I would like..."
        ></textarea>
      </div>

      <div class="form-send">
        <button class="form-send__button" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>