<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-button" data-modal-close>
            <svg class="modal-button__close" width="11" height="11">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <form class="backdrop-form js-speaker-form">
            <p class="backdrop-title">Оставьте свои данные, мы вам перезвоним</p>
            <div class="form-field">
                <label class="form-field__label" for="name" >Имя</label>
                <input class="form-field__input" type="text" name="name" id="name">
                <span class="form-field__icon icon-form">
                    <svg width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-person"></use>
                    </svg>
                </span>
            </div>
            <div class="form-field">
                <label class="form-field__label" for="tel">Телефон</label>
                <input class="form-field__input" type="tel" name="tel" id="tel">
                <span class="form-field__icon">
                    <svg width="13" height="13">
                        <use href="./images/symbol-defs.svg#icon-phone"></use>
                    </svg>
                </span>
            </div>
            <div class="form-field">
                <label class="form-field__label" for="mail">Почта</label>
                <input class="form-field__input" type="email" name="mail" id="mail">
                <span class="form-field__icon">
                    <svg width="15" height="12">
                        <use href="./images/symbol-defs.svg#icon-email"></use>
                    </svg>
                </span>
            </div>
            <div class="form-field">
                <label class="form-field__label" for="text" >Комментарий</label>
                <textarea class="form-field__comment" name="text" id="text" placeholder="Введите текст"></textarea>
            </div>

            <div class="form-agreement">
                <label class="form-agreement__label">
                    <input 
                    class="form-agreement__checkbox" 
                    type="checkbox" 
                    name="checkbox" 
                    value="checkbox">
                    <span class="form-agreement__wrapper-icon">
                        <svg class="form-agreement__checkbox-icon" width="16" height="15">
                            <use href="./images/symbol-defs.svg#icon-agreement"></use>
                        </svg>
                    </span>
                    <span class="form-agreement__wrapper-icon--check">
                        <svg class="form-agreement__icon-check" width="16" height="15">
                            <use href="./images/symbol-defs.svg#icon-check"></use>
                        </svg>
                    </span>
                    <span>Соглашаюсь с рассылкой и принимаю <a class="form-agreement__link" href="#" >Условия договора</a></span>
                </label>
            </div> 

            <div class="form-send">
                <button class="form-send__button" type="submit">Отправить</button>
            </div>
        </form>

    </div>
</div>