<section id="products" class="products-section container">
  <p class="products-section-pretitle">100% natural</p>
  <h2 class="products-section-title">products</h2>
  <div class="products-section-class">
  <ul class="products-class list">
    <li class="products-item products-item-left">
      <div class="products-class-list products-class-left"></div>
      <h3 class="products-title">ice cream</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore 
        <span class="min" >et</span>
        <span class="max">
          dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis
        </span>
      </p>
      <button type="button" aria-label="read-more" class="products-button Btn">
        <span>
          <svg class="products-button-icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </span>
      </button>
    </li>
    <li class="products-item products-item-center">
      <div class="products-class-list products-class-center"></div>
      <h3 class="products-title">ice cream</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore 
        <span class="min">et</span>
        <span class="max">
          dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et. dolore magna aliqua facilisis
        </span>
      </p>
      <button type="button" class="products-button Btn">
        <span>
          <svg class="products-button-icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </span>
      </button>
    </li>
    <li class="products-item products-item-right">
      <div class="products-class-list products-class-right"></div>
      <h3 class="products-title">ice cream</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore 
        <span class="min">et</span>
        <span class="max">
          dolore magna aliqua facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et. dolore magna aliqua facilisis
        </span>
      </p>
      <button type="button" class="products-button Btn">
        <span class="products-button-content">
          <svg class="products-button-icon" width="11" height="10">
            <use href="./images/icons.svg#icon-arrow_right"></use>
          </svg>
        </span>
      </button>
    </li>
  </ul>
  </div>
</section>
