// .menu-close {
//   // width: 14px;
//   // height: 14px;

//   // background: $bg-color;

//   // border-radius: 50%;
// }
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-icon {
  width: 14px;
  height: 14px;
  fill: $white-text-color;
  position: absolute;
  right: 28px;
  top: 23px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    right: 34px;
  }
}

.mob-menu {
  position: fixed;
  background-color: #e17992;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  z-index: 1;
  transition: $transition;
  padding-top: 60px;
  @media screen and (min-width: 768px) {
    width: 254px;
  }
}

.mob-menu.is-hidden{
  transform: translateX(100%);
}

.mob-menu-button {
  background: $bg-color;
  border-radius: 22px;
  width: 209px;
  height: 44px;
  display: block;
  margin: 0 auto;
  font-family: DM Sans;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  color: $accent-color;
  position: relative;
  cursor: pointer;
  padding-left: 53px;
  text-align: left;
  @media screen and (min-width: 768px) {
    width: 186px;
    padding-left: 48px;
  }
}

.mob-button-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 48px;
  width: 11px;
  height: 16px;
  fill: $accent-color;
  @media screen and (min-width: 768px) {
    right: 43px;
  }
}

.menu-list {
  margin-top: 19px;
}

.menu-list__item {
  border: 1px solid #e18298;
  padding-top: 11px;
  padding-bottom: 12px;
  &:hover,
  :focus {
    color: $accent-color;
  }
}

.menu-list__link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $white-text-color;
  padding-left: 21px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.curent {
  color: $accent-color;
}

