.myBtn {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное / липкое положение */
  bottom: 30px; /* Поместите кнопку в нижней части страницы */
  right: 20px; /* Разместить кнопку 30 пикселей от правого */
  z-index: 99; /* Убедитесь, что он не перекрывается */
  cursor: pointer; /* Добавить указатель мыши при наведении */
  background: transparent;
  fill: $accent-color;
//   opacity: 0;
  transition: transform  $transition;
}

.myBtn:hover,
.myBtn:focus {
    transform: scale(1.5);
//   background-color: $accent-color;
//   fill: $black-text-color;
}
