.products-section {
  padding-bottom: 98px;
  padding-top: 121px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-section-pretitle {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-title-color;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.products-section-title {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $accent-color;
  margin-bottom: 31px;

  @media screen and (min-width: 768px) {
    margin-bottom: 112px;
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 66px;
  }
}

.products-section-item {
  display: flex;
  justify-content: center;
}

.products-section-class {
  display: flex;
  justify-content: center;
}

.products-class {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products-item-left {
  max-width: 280px;
  // height: 485px;
  background: $secondary-title-color;
  @media screen and (min-width: 768px) {
    max-width: 220px;
    // height: 485px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 329px;
    // height: 525px;
  }
}

.products-item-center {
  max-width: 280px;
  // height: 485px;
  background: $fourth-bg-color;
  @media screen and (min-width: 768px) {
    max-width: 220px;
    // height: 485px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    // height: 525px;
  }
}

.products-item-right {
  max-width: 280px;
  // height: 485px;
  background: $fifth-bg-color;

  @media screen and (min-width: 768px) {
    max-width: 220px;
    // height: 485px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 329px;
    // height: 525px;
  }
}

.products-item {
  position: relative;
  border-radius: 24px;
  margin-top: 130px;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-top: 0px;
    flex-basis: calc((100% - 20px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.products-class-list::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
  background-size: 249px 252px;

  width: 249px;
  height: 252px;

  @media screen and (min-width: 768px) {
    background-size: 220px 226px;
    width: 220px;
    height: 226px;
  }
  @media screen and (min-width: 1280px) {
    background-size: 335px 335px;
    top: -9%;
    width: 335px;
    height: 335px;
  }
}

.products-class-left::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-image: url(../images/icecream-mob-1x.png);

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 226px;
    background-image: url(../images/icecream-tab-1x.png);
  }

  @media screen and (min-width: 1280px) {
    width: 335px;
    height: 335px;
    background-image: url(../images/icecream-pc-1x.png);
  }
}

.products-class-center::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-image: url(../images/icecoffee-mob-1x.png);

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 233px;
    background-image: url(../images/icecoffee-tab-1x.png);
  }

  @media screen and (min-width: 1280px) {
    width: 337px;
    height: 335px;
    background-image: url(../images/icecoffee-pc-1x.png);
  }
}

.products-class-right::before {
  display: block;
  content: '';
  width: 249px;
  height: 252px;
  background-image: url(../images/milkshakes-mob-1x.png);

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 224px;
    background-image: url(../images/milkshakes-tab-1x.png);
  }

  @media screen and (min-width: 1280px) {
    width: 335px;
    height: 335px;
    background-image: url(../images/milkshakes-pc-1x.png);
  }
}

.products-title {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 23px;
  padding-top: 161px;
  color: $white-text-color;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 34px;
    padding-top: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    margin-bottom: 32px;
  }
}

.products-text::before {
  display: flex;
  content: '';
  width: 26px;
  height: 6px;
  background-size: contain;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/group.png);

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.products-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: $white-text-color;
  margin-left: 41px;
  margin-right: 39px;

  @media screen and (min-width: 768px) {
    margin-left: 11px;
    margin-right: 11px;
    font-size: 14px;
    line-height: 1.78;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 44px;
    margin-right: 44px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.products-button {
  margin-top: 30px;
  margin-bottom: 41px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: $white-text-color;
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.3);
  }
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 62px;
    margin-bottom: 50px;
  }
}

.products-button-icon {
  fill: $accent-color;
}

.max {
  display: none;
}
